<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "jp.co.s-arcana.exp1PhoneGapForGitHub"
    version   = "1.0.0">

<name>GitHubTestApp</name>

<description>
GitHubで作成したHTMLをアプリにするEXP1
</description>

<author href="https://example.com" email="you@example.com">
Your Name
</author>

<preference name="orientation" value="portrait" />
<icon src="icon/icon-512.png" width="512" height="512" />
<icon src="icon/icon-256.png" width="256" height="256" />
<icon src="icon/icon-144.png" width="144" height="144" />
<icon src="icon/icon-128.png" width="128" height="128" />
<icon src="icon/icon-72.png" width="72" height="72" />
<gap:splash src="splash/Default.png" width="320" height="480" />
<gap:splash src="splash/Default_at_2x2.png" width="640" height="960" />

</widget>
